In [18]:
import pandas as pd
import os

def clean_excel_data(file_path):
    # Attempting to load the Excel file
    df = pd.read_excel(file_path)

    # Finding the actual start of data
    actual_start_index = df.notna().idxmax().min()

    # Dropping rows before the actual data start and resetting index
    df = df.iloc[6:]

    # Dropping columns that are entirely NaN
#     df = df.dropna(axis=0, how='all')

    return df

# Corrected file path for the uploaded Excel file
file_path = 'PORDATA_Remuneracao.xlsx'

# To use this function, you would need to uncomment the function call below and provide the correct file path in your environment
df_cleaned = clean_excel_data(file_path)

In [19]:
df_cleaned

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
6,NaN,Total,Homens,Mulheres,Total,Homens,Mulheres,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1985,149.9,160.9,125.4,170.5,186.3,135.8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1986,178.4,192,149.9,202.7,222.1,162.4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1987,204.7,220.6,172.2,234,257.1,186.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1988,225.3,243.6,189.6,259.5,286.7,206.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,Dados obtidos em https:www.pordata.pt a 09-02-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,,,,,,,,,,,...,,,,,,,,,,